*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: sans-serif, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    min-height: 100vh;
    background: url('../img/background.jpg'); /* .. for at hoppe fra ccs-filen op til mappens niveau */
    background-size: cover; 
    background-position: center;
} 

img {
    display: block;
    margin-left: auto;
    margin-right: auto; /*det med marginer og auto right/left gør at billedet står i midten*/
    margin-bottom: 5px;
    margin-top: 20px;
  }


header{
    position: fixed;
    top: 160px;
    left: 0;
    right: 0;
    background: #0B76DB;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 10px 7%;
    display: flex;
    align-items: center;
    justify-content: center; 
    z-index: 1000;
}

header .logo{
    font-weight: bolder;
    font-size: 25px;
    color: #333;
}

header .navbar ul {
    list-style: none; /* Får prikkerne til at forsvinde */
}

header .navbar ul li {
    position: relative;
    float: left;
}


header .navbar ul li a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px 10px;
    color: #fff;
    display: block;
}

header .navbar ul li a:hover {
    background: #3C91E2;
    color: #fff;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #3C91E2;
    display: none; 
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid; rgba(0,0,0,0.1);
}

header .navbar ul li ul li ul{
    left: 200px;
    top: 0;
}


Header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: block;
}

#menu-bar {
    display: none;
}

header label{
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

@media(max-width:991px){


    header{
        padding: 20px;
    }

    header label {
        display: block;
    }

header .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid rgba(0,0,0,0.1) ;
    display:none;
}

header .navbar ul li{
    width: 100%;

}

header .navbar ul li ul{
    position: relative;
    width: 100%;
}


header .navbar ul li ul li{
    background: #eee;
}

header .navbar ul li ul li ul{
    width: 100%;
    left: 0;
}

#menu-bar:checked ~ .navbar{
    display: block;
}

}